<html>
  <head>
    <title>App</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="app.js"></script>
  	<style> .glyphicon-thumbs-up { cursor:pointer } </style>
  </head>
  
  <body ng-app="webLinks" ng-controller="MainCtrl">
  	<div class="row">
    <div class="col-md-6 col-md-offset-3">
		 <form ng-submit="addLink()">
        	<style="margin-top:20px;">
            <h3>Add a new link</h3>
            <div class="form-group">
         		<input type="text"
          		class="form-control"
          		placeholder="Link"
          		ng-model="addMe"></input>
        	</div>
  			<button type="submit" class="btn btn-primary">ADD</button>
  		</form>
      	<p>{{errortext}}</p> 
        
      <div class="page-header">
        <h1>List of URLs</h1>
      </div>
    	<div ng-repeat="link in links">
  			<span ng-click="removeItem($index)">X</span>
        	<span style="font-size:20px; margin-left:10px;">
  			<a ng-show="link" href="{{link}}">
    			{{link}}
  			</a>
            
            <span ng-click="removeItem($index)"> X </span>
		</div>
    </div>
    </div>
  </body>
</html>

